---
http_interactions:
- request:
    method: post
    uri: http://todoable.teachable.tech/api/authenticate
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic bWFyY3VzdGVzdEBnbWFpbC5jb206dG9kb2FibGU=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token":"912f4126-bff2-4783-9a6e-15aa8e4b3c02","expires_at":"2018-11-01T22:25:47.816Z"}'
  recorded_at: Thu, 01 Nov 2018 22:05:47 GMT
- request:
    method: post
    uri: http://todoable.teachable.tech/api/lists/9909fc5e-0863-4ea4-9c3a-355630ca4f9e/items
    body:
      encoding: UTF-8
      string: '{"item":{"name":"aNewTestListItem"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="912f4126-bff2-4783-9a6e-15aa8e4b3c02"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - http://todoable.teachable.tech/api/lists/9909fc5e-0863-4ea4-9c3a-355630ca4f9e/items/cea47270-a9cf-4808-bb63-b8b8e4375302
    body:
      encoding: UTF-8
      string: '{"name":"aNewTestListItem","finished_at":null,"src":"http://todoable.teachable.tech/api/lists/9909fc5e-0863-4ea4-9c3a-355630ca4f9e/items/cea47270-a9cf-4808-bb63-b8b8e4375302","id":"cea47270-a9cf-4808-bb63-b8b8e4375302"}'
  recorded_at: Thu, 01 Nov 2018 22:05:47 GMT
recorded_with: VCR 4.0.0
