---
http_interactions:
- request:
    method: post
    uri: http://todoable.teachable.tech/api/authenticate
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic bWFyY3VzdGVzdEBnbWFpbC5jb206dG9kb2FibGU=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token":"5fee3fe8-2205-437f-8e59-c9038b905ce7","expires_at":"2018-11-01T22:25:45.027Z"}'
  recorded_at: Thu, 01 Nov 2018 22:05:45 GMT
- request:
    method: post
    uri: http://todoable.teachable.tech/api/lists
    body:
      encoding: UTF-8
      string: '{"list":{"name":"List10"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="5fee3fe8-2205-437f-8e59-c9038b905ce7"
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Location:
      - http://todoable.teachable.tech/api/lists/9909fc5e-0863-4ea4-9c3a-355630ca4f9e
    body:
      encoding: UTF-8
      string: '{"name":"List10","src":"http://todoable.teachable.tech/api/lists/9909fc5e-0863-4ea4-9c3a-355630ca4f9e","id":"9909fc5e-0863-4ea4-9c3a-355630ca4f9e"}'
  recorded_at: Thu, 01 Nov 2018 22:05:45 GMT
recorded_with: VCR 4.0.0
