---
http_interactions:
- request:
    method: post
    uri: http://todoable.teachable.tech/api/authenticate
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic bWFyY3VzdGVzdEBnbWFpbC5jb206dG9kb2FibGU=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token":"f22aaba1-fd6a-4b3b-8be9-b29cfd0f0a6e","expires_at":"2018-11-01T22:25:46.424Z"}'
  recorded_at: Thu, 01 Nov 2018 22:05:46 GMT
- request:
    method: get
    uri: http://todoable.teachable.tech/api/lists/9909fc5e-0863-4ea4-9c3a-355630ca4f9e
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="f22aaba1-fd6a-4b3b-8be9-b29cfd0f0a6e"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"name":"List10","items":[]}'
  recorded_at: Thu, 01 Nov 2018 22:05:46 GMT
recorded_with: VCR 4.0.0
