---
http_interactions:
- request:
    method: post
    uri: http://todoable.teachable.tech/api/authenticate
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic bWFyY3VzdGVzdEBnbWFpbC5jb206dG9kb2FibGU=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"token":"b389bffe-dbaa-4abd-9e3b-6b87d0831147","expires_at":"2018-11-01T22:25:47.216Z"}'
  recorded_at: Thu, 01 Nov 2018 22:05:47 GMT
- request:
    method: patch
    uri: http://todoable.teachable.tech/api/lists/9909fc5e-0863-4ea4-9c3a-355630ca4f9e
    body:
      encoding: UTF-8
      string: '{"list":{"name":"aNewTestList"}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Token token="b389bffe-dbaa-4abd-9e3b-6b87d0831147"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: aNewTestList updated
  recorded_at: Thu, 01 Nov 2018 22:05:47 GMT
recorded_with: VCR 4.0.0
